/* ================================
   GitHub Theme
   Dark GitHub UI style
================================ */

.luma-theme-github {
    --luma-bg:           #161B22;
    --luma-border-color: #30363D;
    --luma-border-width: 1px;
    --luma-shadow:       none;
    --luma-backdrop:     none;
    --luma-radius:       12px;

    /* Typography */
    --luma-title-color: #F0F6FC;
    --luma-desc-color:  #8B949E;

    /* Close */
    --luma-close-color: #8B949E;

    /* Action */
    --luma-action-bg:       rgba(177, 186, 196, .12);
    --luma-action-color:    #C9D1D9;
    --luma-action-hover-bg: rgba(177, 186, 196, .2);
    --luma-action-border:   1px solid #30363D;
    --luma-action-radius:   6px;

    /* Progress */
    --luma-progress-success: #2EA043;
    --luma-progress-error:   #DA3633;
    --luma-progress-warning: #9E6A03;
    --luma-progress-info:    #388BFD;
    --luma-progress-loading: #6E7681;
    --luma-progress-custom:  #8957E5;
}

.luma-theme-github .luma-loading-icon {
    display: block;
    transform-origin: center;
    transform-box: fill-box;
    animation: luma-spin 1s linear infinite;
}